body {
  color: #222;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: rgb(251, 254, 251);
  color: rgb(40, 39, 40);
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: rgb(203, 42, 66);
  text-decoration: none;
}

.header_title {
  text-transform: uppercase;
}

.page_time {
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-style: italic;
}

.page_time > img {
  margin-right: 0.5rem;
  opacity: 0.8;
}
