<div id="search-modal" class="search-modal">
  <div class="search-modal__backdrop"></div>
  <div class="search-modal__content">
    <div class="search-modal__header">
      <h2>Search</h2>
      <button class="search-modal__close">&times;</button>
    </div>
    <div id="search"></div>
  </div>
</div>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js"></script>
{{ $js := resources.Get "js/search.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}"></script>
